################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/AutoAnlysis/v16
/log/DBLog
/log
/Debug/OfflineParsing/Log/20220414/app_log
/Debug/OfflineParsing/Log/20211221/debug_log
/.cpptest
/.parasoft.dat/.solutions/AutoAnlysis
/Debug/OfflineParsing/Log/20220418/app_log
/Debug/OfflineParsing/Log
