<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cdataSection" type="Common.CdataSection,Common"/>
  </configSections>
  <!--<runtime>
    <legacyUnhandledExceptionPolicy enabled="1"/>
  </runtime>-->
  <appSettings>
    <!--是否现场模式-->
    <add key="isSiteMode" value="false"/>
    <!--是否自动开始接收数据-->
    <add key="isAutoStart" value="false"/>
    <!--是否可烧录-->
    <add key="isBurn" value="true"/>
    <!--UDP接收缓存区大小 单位：K-->
    <add key="udpReceiveBufferSize" value="1024"/>
    <!--清理日志周期 单位：天-->
    <add key="clearLogPeriod" value="30"/>
    <!--创建日志周期 单位：分钟-->
    <add key="createLogPeriod" value="30"/>
    <!--刷新界面周期 单位：毫秒-->
    <add key="refreshUiPeriod" value="1000"/>
    <!--MSS功能可用性-->
    <add key="mssEnabled" value="true" />
    <!--是否MSS新接口-->
    <add key="isMssNew" value="true" />
    <!--MSS发送周期 单位：毫秒-->
    <add key="mssSendPeriod" value="2000"/>
    <!--全自动下载烧写功能可用性-->
    <add key="autoBurnEnabled" value="false" />
    <!--上位机的IP-->
    <add key="serviceIp" value="30.32.1.32" />
    <!--与通信板udp通信时，通信板1的IP和端口-->
    <add key="udpRemote1" value="192.168.20.207:6503" />
    <!--与通信板udp通信时，通信板2的IP和端口-->
    <add key="udpRemote2" value="192.168.3.208:6503" />
    <!--与通信板udp通信时，本机的接收端口-->
    <add key="udpLocalPort" value="6503" />
    <!--[复位-超时时间]秒-->
    <add key="resetTimeout" value="5"/>
    <!--[重启-超时时间]秒-->
    <add key="restartTimeout" value="20"/>
    <!--[更新-超时时间]秒-->
    <add key="updateTimeout" value="300"/>
    <!--查询版本号-超时时间]秒-->
    <add key="versionTimeout" value="5"/>
    <!--[查询通信状态-超时时间]秒-->
    <add key="commTimeout" value="5"/>
    <!--ZC数据分析功能可用性-->
    <add key="zcDataAnalysisEnabled" value="false" />
    <!--自动校时功能可用性-->
    <add key="AutoTimeEnabled" value="false" />
    <!--自动校时时间上限-单位：小时-->
    <add key="AutoTimeLimit" value="1" />
    <!--是否烧录COMM板文件夹-->
    <add key="isBurnCommDir" value="false" />
    <!--是否开启FTP烧录凌华通控选项-凌华通控必须使用VxWorks6.8操作系统才可以开启此选项-->
    <add key="isFTPBurnEnabled" value="false" />
    <!--是否进行CRC校验-->
    <add key="isCRCEnabled" value="false" />
	  <!--是否MSS特殊接口-->
    <add key="isMssSpecial" value="true" />
	  <!--是否适配20.0及以上数据结构-->
    <add key="isNewData" value="true" />
    <!--是否支持远程重启功能-->
    <add key="isRRCEnable" value="true" />
    <!--是否汇报机柜性能参数-->
    <add key="isSendPerformance" value="true" />
  </appSettings>
  <cdataSection>
    <sysSetConfig>
      <![CDATA[
<SysSetConfig>
  <AppType>Zc</AppType>
  <ZcSetConfig>
    <Local>
      <Intranet1>
        <Ip>192.168.20.209</Ip>
        <Port>4150,4151,4152,4153,5150,5151,5152,5153,5000,5001,5002,5003,5168</Port>
      </Intranet1>
      <Intranet2>
        <Ip>192.168.3.209</Ip>
        <Port>5000,5003</Port>
      </Intranet2>
      <Network>
        <Ip>30.32.1.31</Ip>
        <Port>10000</Port>
      </Network>
    </Local>
    <ZcDsu>
      <Host1Ip>192.168.20.201</Host1Ip>
      <Host2Ip>192.168.20.202</Host2Ip>
      <Host3Ip>192.168.20.203</Host3Ip>
      <Host4Ip>192.168.20.204</Host4Ip>
      <Ccov1Ip>192.168.20.205</Ccov1Ip>
      <Ccov2Ip>192.168.20.206</Ccov2Ip>
      <Ftsm1Ip>192.168.20.207</Ftsm1Ip>
      <Ftsm2Ip>192.168.3.208</Ftsm2Ip>
      <OverTime>
        <Period>400</Period>
        <OverPeriodCount>3</OverPeriodCount>
      </OverTime>
    </ZcDsu>
    <Mss>
      <Main>
        <Ip>20.32.27.28</Ip>
        <Port>10020</Port>
      </Main>
      <Back>
        <Ip>20.32.27.29</Ip>
        <Port>10020</Port>
      </Back>
    </Mss>
    <RRC>
      <Red>
        <Ip>192.168.20.100</Ip>
        <Port>5003</Port>
      </Red>
      <Blue>
        <Ip>192.168.3.100</Ip>
        <Port>5003</Port>
      </Blue>
    </RRC>
  </ZcSetConfig>
  <DsuSetConfig>
    <Local>
      <Intranet1>
        <Ip>192.168.20.209</Ip>
        <Port>4150,4151,4152,4153,5150,5151,5152,5153,5000,5001,5002,5003,5168</Port>
      </Intranet1>
      <Intranet2>
        <Ip>192.168.3.209</Ip>
        <Port>5000,5003</Port>
      </Intranet2>
      <Network>
        <Ip>30.32.1.31</Ip>
        <Port>10000</Port>
      </Network>
    </Local>
    <ZcDsu>
      <Host1Ip>192.168.20.201</Host1Ip>
      <Host2Ip>192.168.20.202</Host2Ip>
      <Host3Ip>192.168.20.203</Host3Ip>
      <Host4Ip>192.168.20.204</Host4Ip>
      <Ccov1Ip>192.168.20.205</Ccov1Ip>
      <Ccov2Ip>192.168.20.206</Ccov2Ip>
      <Ftsm1Ip>192.168.20.207</Ftsm1Ip>
      <Ftsm2Ip>192.168.3.208</Ftsm2Ip>
      <OverTime>
        <Period>2000</Period>
        <OverPeriodCount>3</OverPeriodCount>
      </OverTime>
    </ZcDsu>
    <Mss>
      <Main>
        <Ip>20.32.27.28</Ip>
        <Port>10020</Port>
      </Main>
      <Back>
        <Ip>20.32.27.29</Ip>
        <Port>10020</Port>
      </Back>
    </Mss>
    <RRC>
      <Red>
        <Ip>192.168.20.100</Ip>
        <Port>5003</Port>
      </Red>
      <Blue>
        <Ip>192.168.3.100</Ip>
        <Port>5003</Port>
      </Blue>
    </RRC>
  </DsuSetConfig>
</SysSetConfig>
      ]]>
    </sysSetConfig>
  </cdataSection>
</configuration>